* {
    padding: 0;
    box-sizing: 0;
    margin: 0;
}

body {
    width: 90%;
    min-height: 97vh;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    color: white;
    padding: 10px;
}

.content {
    margin-top: 30vh;
    width: 50%;
    height: 40vh;
    padding-left: 10px;
    padding-top: 20px;
}

#h1 {
    font-size: 40px;
    padding-left: 10px;
}

#h4 {
    font-size: 20px;
    padding-left: 10px;
    color: rgba(255, 255, 6, 0.911);

}

.calculator {
    margin-top: 20px;
    height: 80px;
    padding-left: 20px;
    padding-top: 40px;
    border-radius: 10px;
    background: rgba(255, 255, 2550,0.3);
    -webkit-box-shadow: 20px 21px 34px 7px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 20px 21px 34px 7px rgba(0, 0, 0, 0.55);
    box-shadow: 20px 21px 34px 7px rgba(0, 0, 0, 0.55);
}

#btn {
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: rgb(255, 236, 63);

}

#in {
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
}

#p{
    color: black;
    padding-top: 10px;
    padding-left: 5px;
}
#p span{
    color: yellow;
    text-decoration: overline;
}